<!DOCTYPE html>
<html>
    <head>
        <!--  -->
        <title>information retrieval</title>
        <script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript">
            $SCRIPT_ROOT={{request.script_root|tojson|safe}};
            $(function(){
                $('#test').click(function(){
                    alert('test')
                });
                $('#submit').click(function(){
                    //alert($('input[name="content"]').val())
                    $.post($SCRIPT_ROOT+'/',{
                        title: $('input[name="title"]').val(),
                        content: $('#content').val()
                    }, function(data){
                        alert(data);
                        var text=''
                        for(var i=0; i<data.length; i++){
                            text+=data[i][0]+', '
                        }
                        alert(text)
                        $('#result').text(text)
                    })
                });
                $('#booleantfidf').click(function(){
                    //alert('tfidf')
                    //alert($('#booleanquery').val())
                    $.post($SCRIPT_ROOT+'/booleanTfidf',{
                        booleanquery: $('#booleanquery').val()
                    }, function(data){
                        var text=''
                        for(var i=0; i<data.length; i++){
                            text+=data[i][0]+', '+data[i][1]+'---'
                        }
                        $('#booleantfidfres').text(text)
                    });
                });
                $('#booleanwfidf1').click(function(){
                    //alert('wfidf1')
                    //alert($('#booleanquery').val())
                    $.post($SCRIPT_ROOT+'/booleanwfidf1',{
                        booleanquery: $('#booleanquery').val()
                    }, function(data){
                        var text=''
                        for(var i=0; i<data.length; i++){
                            text+=data[i][0]+', '+data[i][1]+'---'
                        }
                        //alert(text)
                        $('#booleanwfidf1res').text(text)
                    });
                });
                $('#booleanwfidf2').click(function(){
                    //alert('wfidf2')
                    //alert($('#booleanquery').val())
                    $.post($SCRIPT_ROOT+'/booleanwfidf2',{
                        booleanquery: $('#booleanquery').val()
                    }, function(data){
                        var text=''
                        for(var i=0; i<data.length; i++){
                            text+=data[i][0]+', '+data[i][1]+'---'
                        }
                        //alert(text)
                        $('#booleanwfidf2res').text(text)
                    });
                });
            })
        </script>
    </head>
    <body>
        <button id='test'>test</button>
        <div>
            title:<input type="text" name="title"/><br>
            content:<br>
            <textarea id='content'></textarea><br>
            <button id='submit'>submit</button>
        </div>
        <div id='result'></div>
        <h1>boolean tfidf</h1>
        <div id="boolean">
            content:<textarea id="booleanquery"></textarea><br>
            <button id="booleantfidf">booleantfidf</button><p id='booleantfidfres'></p><br>
            <button id="booleanwfidf1">booleanwfidf1</button><p id='booleanwfidf1res'></p><br>
            <button id="booleanwfidf2">booleanwfidf2</button><p id='booleanwfidf2res'></p>
        </div>
    </body>
</html>