<!DOCTYPE html>
<html>
    <head>
        <!--  -->
        <title>information retrieval</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
        <script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript">
            $SCRIPT_ROOT={{request.script_root|tojson|safe}};
            $(function(){
                $('#test').click(function(){
                    alert('test')
                });
                $('#submit').click(function(){
                    //alert($('input[name="content"]').val())
                    $.post($SCRIPT_ROOT+'/',{
                        title: $('input[name="title"]').val(),
                        content: $('#content').val()
                    }, function(data){
                        alert(data);
                        var text=''
                        for(var i=0; i<data.length; i++){
                            text+=data[i][0]+', '
                        }
                        alert(text)
                        $('#result').text(text)
                    })
                });
                $('#booleantfidf').click(function(){
                    //alert('tfidf')
                    //alert($('#booleanquery').val())
                    $.post($SCRIPT_ROOT+'/booleanTfidf',{
                        booleanquery: $('#booleanquery').val()
                    }, function(data){
                        var text=''
                        for(var i=0; i<data.length; i++){
                            text+=data[i][0]+', '+data[i][1]+'\n'
                        }
                        $('#booleantfidfres').text(text)
                    });
                });
                $('#booleanwfidf1').click(function(){
                    //alert('wfidf1')
                    //alert($('#booleanquery').val())
                    $.post($SCRIPT_ROOT+'/booleanwfidf1',{
                        booleanquery: $('#booleanquery').val()
                    }, function(data){
                        var text=''
                        for(var i=0; i<data.length; i++){
                            text+=data[i][0]+', '+data[i][1]+'\n'
                        }
                        //alert(text)
                        $('#booleanwfidf1res').text(text)
                    });
                });
                $('#booleanwfidf2').click(function(){
                    //alert('wfidf2')
                    //alert($('#booleanquery').val())
                    $.post($SCRIPT_ROOT+'/booleanwfidf2',{
                        booleanquery: $('#booleanquery').val()
                    }, function(data){
                        var text=''
                        for(var i=0; i<data.length; i++){
                            text+=data[i][0]+', '+data[i][1]+'\n'
                        }
                        //alert(text)
                        $('#booleanwfidf2res').text(text)
                    });
                });
                $('#vectortfidf').click(function(){
                    if($('#vectorquery').val()==''){
                        alert('please input query')
                        return;
                    }
                    //alert($('#vectorquery').val());
                    $.post($SCRIPT_ROOT+'/vectortfidf',{
                        query:$('#vectorquery').val()
                    }, function(data){
                        var text=''
                        for(var i=0; i<data.length; i++){
                            text+=data[i][0]+', '+data[i][1]+'\n'
                        }
                        $('#vectortfidfres').text(text)
                    })
                });
                $('#vectorwfidf1').click(function(){
                    if($('#vectorquery').val()==''){
                        alert('please input query')
                        return;
                    }
                    //alert($('#vectorquery').val());
                    $.post($SCRIPT_ROOT+'/vectorwfidf1',{
                        query:$('#vectorquery').val()
                    }, function(data){
                        var text=''
                        for(var i=0; i<data.length; i++){
                            text+=data[i][0]+', '+data[i][1]+'\n'
                        }
                        $('#vectorwfidf1res').text(text)
                    })
                });
                $('#vectorwfidf2').click(function(){
                    if($('#vectorquery').val()==''){
                        alert('please input query')
                        return;
                    }
                    //alert($('#vectorquery').val());
                    $.post($SCRIPT_ROOT+'/vectorwfidf2',{
                        query:$('#vectorquery').val()
                    }, function(data){
                        var text=''
                        for(var i=0; i<data.length; i++){
                            text+=data[i][0]+', '+data[i][1]+'\n'
                        }
                        $('#vectorwfidf2res').text(text)
                    })
                });
                $('#fastervectortfidf').click(function(){
                    if($('#vectorquery').val()==''){
                        alert('please input query')
                        return;
                    }
                    //alert($('#vectorquery').val());
                    $.post($SCRIPT_ROOT+'/fastertfidf', {
                        query:$('#vectorquery').val()
                    },function(data){
                        sims=data.sims
                        content=data.content
                        text=''
                        //alert(sims)
                        //alert(content)
                        for(var i=0; i<sims.length; i++){
                            text+=sims[i][0]+', '+sims[i][1]+'\n'
                        }
                        text+=content
                        //alert(text)
                        $('#fastervectortfidfres').text(text)
                    })
                })
                $('#fastervectorwfidf1').click(function(){
                    if($('#vectorquery').val()==''){
                        alert('please input query')
                        return;
                    }
                    //alert($('#vectorquery').val());
                    $.post($SCRIPT_ROOT+'/fasterwfidf1', {
                        query:$('#vectorquery').val()
                    },function(data){
                        sims=data.sims
                        content=data.content
                        text=''
                        //alert(sims)
                        //alert(content)
                        for(var i=0; i<sims.length; i++){
                            text+=sims[i][0]+', '+sims[i][1]+'\n'
                        }
                        text+=content
                        //alert(text)
                        $('#fastervectorwfidf1res').text(text)
                    })
                })
                $('#fastervectorwfidf2').click(function(){
                    if($('#vectorquery').val()==''){
                        alert('please input query')
                        return;
                    }
                    //alert($('#vectorquery').val());
                    $.post($SCRIPT_ROOT+'/fasterwfidf2', {
                        query:$('#vectorquery').val()
                    },function(data){
                        sims=data.sims
                        content=data.content
                        text=''
                        //alert(sims)
                        //alert(content)
                        for(var i=0; i<sims.length; i++){
                            text+=sims[i][0]+', '+sims[i][1]+'\n'
                        }
                        text+=content
                        //alert(text)
                        $('#fastervectorwfidf2res').text(text)
                    })
                })
            })
        </script>
    </head>
    <body>
        <button id='test'>test</button>
        <div>
            title:<input type="text" name="title"/><br>
            content:<br>
            <textarea id='content'></textarea><br>
            <button id='submit'>submit</button>
        </div>
        <div id='result'></div>
        <h1>boolean tfidf</h1>
        <div id="boolean">
            content:<textarea id="booleanquery"></textarea><br>
            <div><button id="booleantfidf">booleantfidf</button><p id='booleantfidfres'></p></div>
            <div><button id="booleanwfidf1">booleanwfidf1</button><p id='booleanwfidf1res'></p></div>
            <div><button id="booleanwfidf2">booleanwfidf2</button><p id='booleanwfidf2res'></p></div>
        </div>
        <div id="vector">
            <h1>vector space model</h1>
            content:<textarea id="vectorquery"></textarea><br>
            <div><button id="vectortfidf">vectortfidf</button><p id="vectortfidfres"></p></div>
            <div><button id="vectorwfidf1">vectorwfidf1</button><p id="vectorwfidf1res"></p></div>
            <div><button id="vectorwfidf2">vectorwfidf2</button><p id="vectorwfidf2res"></p></div>
        </div>
        <div id="fastervector">
            <div><button id="fastervectortfidf">vectortfidf</button><p id="fastervectortfidfres"></p></div>
            <div><button id="fastervectorwfidf1">vectorwfidf1</button><p id="fastervectorwfidf1res"></p></div>
            <div><button id="fastervectorwfidf2">vectorwfidf2</button><p id="fastervectorwfidf2res"></p></div>
        </div>
    </body>
</html>